<<<<<<< HEAD
html, body {
    margin : 0;
    padding : 0;
}

header{
    text-align: center;
    color : whitesmoke;
    padding : 20px;
    background: url(bg.jpg);
}

header h2{
    font-family: 'Rubik Glitch', cursive;
    font-size: 3em;
}
nav{
    background: rgb(29, 23, 85);
    color : antiquewhite;
    padding: 20px;
    text-align: center;
}

li{
    display: inline;
}

li:hover {
    color: pink;
    background: rgb(190, 123, 123);
    padding: 12px;
=======
html,
body {
    margin: 0;
    padding: 0;
    /* reset css */
>>>>>>> 40fd59563ccce83fd7fe7d0bda790e9b336c3883
}

ul {
    padding: 0;
}

<<<<<<< HEAD
main{
=======
* {
    /*any element in document*/
}

header {
    text-align: center;
    /* background: rgb(17, 12, 64); */
    background: url(bg.jpg);
    color: whitesmoke;
    padding: 20px;
    font-family: 'Bebas Neue';
    font-size: 20pt;
}

nav {
    background: rgb(29, 23, 85);
    color: antiquewhite;
    padding: 5px;
    /* margin:10px;
    border:10px solid red; */
    text-align: center;
}

li {
    display: inline;
    margin-right: 5px;
    font-size: 14pt;
}

li:hover {
    color: chartreuse
}

main {
>>>>>>> 40fd59563ccce83fd7fe7d0bda790e9b336c3883
    padding: 20px;
}

article {
<<<<<<< HEAD
    background: whitesmoke;
    /* border-bottom: 1px dashed black; */
    outline-color: rgb(79, 79, 79);
    outline-style: outset;
    padding: 5px 10px;
    
}

article h3{
    font-family: Sofia;
    
}

.icon {
    color: rgb(140, 4, 163);
    box-shadow: 5px 5px black;
    font-size: 20pt;
}

icon:hover{
    background: white;
    color:salmon;
}
.btn{
    background: white;
    padding: 8px 30px;
    font-size: 14pt;
    border: 2px solid greenyellow;
}

.box{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    color : wheat;
    position: absolute;
=======
    border-bottom: 1px dashed black;
    /* width: 300px;
    height:300px; */
    /* background:red; */
    /* outline-style: groove;
    outline-width: 10px;
    outline-color: red;
    border:10px solid green; */
}

.icon {
    font-size: 40pt;
    color: red;
  
}

.icon:hover {
    color: black;
    /* -webkit-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

.btn{
    background: white;
    padding:8px 30px;
    font-size:14pt;
    border:2px solid #04AA6D;
}

.btn:hover{
    background:#04AA6D;
    color:white;
}

.box{
    width:300px;
    height:300px;
    border:1px solid red;
    position:absolute; /*absolute allows us to move elements*/
    color:white;
>>>>>>> 40fd59563ccce83fd7fe7d0bda790e9b336c3883
}

.box1{
    top:0;
<<<<<<< HEAD
    left: 0;
}

.box2{
    top:0;
    right: 0;
    background-color: gray;
}

.box3{
    bottom: 0;
    left: 0;
    background: orange;
=======
    left:0;
    background:black
}

.box2{
    bottom:0;
    right:0;
    background:green;
}

.box3{
    bottom:0;
    left:0;
    background:orange
>>>>>>> 40fd59563ccce83fd7fe7d0bda790e9b336c3883
}