* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-image {
    max-height: 150px;
    object-fit: cover;

}

body {
    background-color: lightgrey;
    padding-top: 55px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.toScrollPad {
    padding-top: 50px;
}

/* HEADER */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}




/* ABOUTME */

#aboutMe {
    height: 100vh;
    width: 100%;
}




/* ---COMPETENCE */



#education,
#competences {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    margin: 0;


}

#competences {
    /* height: 50vh; */
    background: rgb(190, 190, 190);
    /* background: red; */
}

.vertCont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1%;

}

.vertCont::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid black;
}



/* ---EDUCATION */

.educationBlock {

    /* background-color: red; */
    border: 1px solid black;
    border-top: none;
    /* donner un efet de lampe */
    height: 45%;
    padding-top: 4%;
    margin: 0 2%;


}

#education {
    box-sizing: content-box;

}


.educationBlock {}





/* PROJECT */
.ProjectRow {
    position: relative;
    top: 10%;
    overflow: scroll;
    height: 100vh;
}

.ProjectRow>.col-md-4 {
    margin: 1% auto;
    padding: 3px;
    min-width: 10%;
    max-width: 30%;
    height: auto;

}

.col-md-4>img {
    width: 80%;
    min-height: 100px;
}

.col-md-4>.card {
    width: 100%;
    overflow: scroll;
    /* background: red; */
    /* height: 83%; */
}