* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black
}

a {
    text-decoration: none;
}

.product-image {
    max-height: 150px;
    object-fit: cover;

}

body {
    background-color: #F5EFE8;
    padding-top: 55px;
}


.container-fluid {
    padding: 0;
    margin: 0;
}

.toScrollPad {
    padding-top: 50px;
    /* overflow: scroll; */
}

.roundedCorners {
    border-radius: 1%;
    box-shadow: 3px 10px 29px -5px rgba(46, 38, 10, 0.46);
    -webkit-box-shadow: 3px 10px 29px -5px rgba(46, 38, 10, 0.46);
    -moz-box-shadow: 3px 10px 29px -5px rgba(46, 38, 10, 0.46);
}

/* HEADER */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    background: #C5B5A5 !important;
    /*background: #D8A48F  */
    color: black !important;
    left: 0px;

}

/* ABOUTME */

#aboutMe {
    height: 100vh;
    width: 100%;

}

#aboutMe>div:nth-child(2)>p {
    /* background-color: #F2E5D5; */
    background-color: #d2c2b6;

}


#aboutMeText {
    padding: 4%;
    margin-right: 5%;
}

#cv_photo {
    width: 65%;
}

/* ---COMPETENCE */



#education,
#competences {
    width: 100%;
    border: 1px solid black;
    margin: 0;


}

#competences {
    height: 100vh;
    background: rgb(190, 190, 190);

}

.vertCont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1%;

}

.vertCont::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid black;
}



/* ---EDUCATION */


#education {
    /* box-sizing: content-box; */
    padding: 1%;
    min-height: 100vh;

}

.educationBlock {

    border: 1px solid black;
    border-top: none;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
    margin: auto 2%;
    overflow: scroll;
    background: #F2E5D5;
    border-radius: 1% 7% 18% 2%;
}



/* PROJECT */
.ProjectRow {
    /* box-sizing: content-box; */
    overflow: scroll;
    height: 100vh;
    padding: 1%;

}

.ProjectRow>.col-md-4 {
    margin: 1% auto;
    padding: 3px;
    min-width: 10%;
    max-width: 30%;
    height: auto;

}

.col-md-4>img {
    width: 80%;
    min-height: 100px;
}

.col-md-4>.card {
    width: 100%;
    overflow: scroll;
    /* background: red; */
    /* height: 83%; */
}


/* FOOTER */
#footer {
    background-color: #B5A58D !important;
}