* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-image {
    max-height: 150px;
    object-fit: cover;

}

body {
    background-color: lightgrey;
}

.container-fluid {
    box-sizing: content-box;
}

/* ---COMPETENCE */




#competencesGraph,
#competencesText,
#education {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    /* box-sizing: content-box; */
}

.education,
.competences {
    box-sizing: content-box;
}

/* ---EDUCATION */

#education {
    box-sizing: content-box;
}

.educationBlock {}