p{
<<<<<<< HEAD
    color : blue;
}

a{
    color : plum;
}

body{
    background-color: black;
}
=======
    color: rgb(243, 101, 0);
}

/* https://flukeout.github.io/ */
/* https://discord.gg/6sVHz3Xe */
/* w3school discord server */
>>>>>>> 40fd59563ccce83fd7fe7d0bda790e9b336c3883
