#webdesignRow{
    border: 2px solid black !important;
    
}

.headerButton > div{
    border: 2px solid black;
    padding: 1%;
}

nav > .container > a {
    border: 2px solid black;
    position: relative;
    top: -15px;
    left: -65px;
    padding: 0 1%;
}


.nav-link{
    border: 2px solid black !important;
    padding: 1%;
    margin: auto 10px;
    
}

#imgPrincipal{
    width: 50%;
}

#thelistGroup{
    border: 1px solid black !important;

}

.list-group-item{
    border: 1px solid black !important;
}


