@import "./variable";
@mixin flexcenter($direction, $background){
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: $direction;
  background : $background;
}

//  $colorOne : rgb(62, 50, 168);
header {

    @include flexcenter(column,red);
   
    color: $textcolor;
    

    button{
      background: $primarycolor;
      &:hover{
        color : rgb(3, 252, 227)
      }
      &::after{
        content:"Wazza";
      }
    }
  }